/* src/content.css */
@import "css/circle.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400);

html {
  background-color: #f5f5dc;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px
}

button {
  display: inline;
  background-color: #f5f5dc;
  border-radius: 2em;
}

.progressBar {
  align-items: center;
  margin-left: 3em;
}

.so-extension {
  align-items: center;
}
.so-extension h1 {
    color: #000;
}

.so-extension h3 {
    text-align: center;
}

.iconGood {
  max-height: 2em;
  max-width: 2em;
  position: relative;
  padding: 0em 1em;
  color: #90EE90;
}

.iconBad {
  max-height: 2em;
  max-width: 2em;
  position: relative;
  padding: 0em 1em;
  color: #F08080;
}


.wrapperDiv {
  display: inline;
  flex-wrap:  wrap-reverse;
  font-size: 12px
}

.prediction {
  text-align: center;
  color: rgb(155,155,155);
}

.questions {

}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
